@page "/"
@namespace ApolloWebUI.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.Configuration;
@using System.Text
@inject IConfiguration config

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ApolloWebUI</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <div class="text-center">
        <a href="http://www.beian.miit.gov.cn/">@(System.Web.HttpUtility.UrlDecode(config.GetValue<string>
                ("icp")))</a>
    </div>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
