@page "/callChainParser"

@using Blazored.Modal.Services
@using System.Text.Json
@using ApolloWebUI.Model
@using ApolloWebUI.Components
@using System.Text;
@inject IModalService  Modal;
<div>
    <textarea class="form-control" style="width:100%" @bind="@InputString" name="InputString"></textarea>
    <button type="submit" class="btn btn-primary" @onclick="Parse">解析</button>
</div>
@if (@ChainModel != null)
{
    <CallChainSvgComponent @bind-ChainModel="@ChainModel" />
}
<p class="text-danger">@Message</p>
@code
{
    string InputString { get; set; }
    CallChainModel ChainModel { get; set; }
    List<string>
    viewModel;
    string Message { get; set; }

    private void HandleSubmit()
    {
        Console.WriteLine("OnSubmit");
    }

    void Parse()
    {
        var o = new JsonSerializerOptions()
        {
            PropertyNamingPolicy = JsonNamingPolicy.CamelCase
        };
        try
        {
            var a = JsonSerializer.Deserialize<JsonElement>
                (InputString);
            ReadOnlySpan<char>
                readOnlySpan = new ReadOnlySpan<char>
                    ("obj".ToCharArray());
            if (a.TryGetProperty(readOnlySpan, out var b))
            {
                ChainModel = JsonSerializer.Deserialize<CallChainModel>
                    (b.GetString(), o);
            }
            else
            {
                ChainModel = JsonSerializer.Deserialize<CallChainModel>
                    (InputString, o);
            }
            Message = string.Empty;
        }
        catch (Exception ex)
        {
            Message = ex.Message;
            Console.WriteLine(ex);
        }
    }
}
