@page "/counter"

<AuthorizeView>
    <Authorized>
        <h1>Counter</h1>

        <p>@Name Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </Authorized>

    <NotAuthorized>
        Sorry you cannot see this.
    </NotAuthorized>
</AuthorizeView>

@code {
    int currentCount = 0;

    void IncrementCount()
    {
        currentCount++;
    }
}

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authStateTask { get; set; }

    private string Name { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await authStateTask;
            var user = authState.User;
            Name = user.Identity.Name;
        }
    }
}