@page "/services"
@using Blazored
@using Blazored.Modal
@using Blazored.Modal.Services
@using System.Text.Json
@using ApolloWebUI.Model
@using ApolloWebUI.Components

@inject IModalService Modal;


<h1>Hello, world!</h1>